.DS_Store
static/.DS_Store
static/audio 
static/chinese
static/zh2
static/zh3

oldfiles

vocabChecker.py
vocabSheet.py
vocabScraper.py
vocabTranslate.py
vocabAudio.py
vocabSpread.py
config.py



.env
venv

__pycache__
