{% extends "layout.html" %}

{% block content %}

<div class="content-section">  
<audio controls autoplay id="playback"></audio>   
</div> 


<div class="content-section">   
<legend class="border-bottom mb-4">{{header}}</legend>

          <table class="table table-striped">
            <tr>
              <th>Word</th>             
              <th>GL</th>
              <th>Aud</th>               
            </tr>
            {% for vocab in vocabList %}
              {% if vocab in student_vocab %}
                <tr name="{{student_vocab[vocab]['state']}}" id="{{vocab}}card">
              {% else %}
                <tr  id="{{vocab}}card">
              {% endif %}
              <td><a data-toggle="collapse" data-target="#{{vocab}}more" href="#"> {{ vocab }}</a></td>                         
              <td>{% for i in range(1, (vocabList[vocab]['defs'] | length) + 1) %} {{vocabList[vocab]['defs'][i|string][0]}} {% endfor %}</td>
              <!-- choose random audio form the list -->
              
              
              
              <td><button id="{{vocab}}" class="btn btn-outline-secondary info btn-sm" value="{{ vocabList[vocab]['Audio']}}"  onclick="playAudio(this)"> Play </button></td>
              
              


            </tr>
            <tr class="collapse" id="{{vocab}}more">
            <td colspan="7"> 
              {{ vocabList[vocab]['kk'] }}
              <br> 
              {% for i in range(1, (vocabList[vocab]['defs'] | length) + 1) %} 
              {{vocabList[vocab]['defs'][i|string][0]}} {{vocabList[vocab]['defs'][i|string][1]}} 
              <br> 
              {% endfor %}                       
              
              <button style="display:none" id="{{vocab}}zh" class="btn btn-secondary btn-sm" value="{{vocabList[vocab]['zh']['1'][1]}}" onclick="playAudio(this)"> {{vocabList[vocab]['zh']['1'][0]}} </button> 
              <br>
              <br>

              <button class="btn btn-outline-danger btn-sm" name="{{vocab}}"  value="1" onclick="setVocab(this)"> Challenge </button>
              <button class="btn btn-outline-warning btn-sm" name="{{vocab}}"  value="2" onclick="setVocab(this)"> Unsure </button>
              <button class="btn btn-outline-success btn-sm" name="{{vocab}}"  value="3" onclick="setVocab(this)"> No Problem </button>

                  
            
            
            </td> 
          </tr>   
            {% endfor %}
          </table>
    
        </div>
      </div>



{% endblock content %}

{% block script %}



{% endblock %}



