{% extends "layout.html" %}

{% block content %}

<div class="content-section">  
<audio controls autoplay id="playback"></audio>   
</div> 

{% for vocab in randList %}
    {% if vocab in student_vocab %}
        <div class="content-section" id="{{vocab}}card" name="{{student_vocab[vocab]['state']}}">            
    {% else %}
        <div class="content-section" id="{{vocab}}card" name="">
    {% endif %}

<h1> <a data-toggle="collapse" data-target="#{{vocab}}more"> {{randList[vocab]['zh']['1'][0]}}<a> </h1> 

<button style="" id="{{vocab}}en" class="btn btn-secondary btn-sm" value="{{vocabList[vocab]['Audio']}}" onclick="playAudio(this)"> Listen </button>  
<br>
<br>
        <div class="collapse" id="{{vocab}}more">
        <h4> {{vocab}} </h4>

        {{ vocabList[vocab]['kk'] }}
        <br> 
        {% for i in range(1, (vocabList[vocab]['defs'] | length) + 1) %} 
        {{vocabList[vocab]['defs'][i|string][0]}} {{vocabList[vocab]['defs'][i|string][1]}} 
        <br> 
        {% endfor %}                       

        <br>

        <button value="{{vocab}}" class="btn btn-secondary btn-sm" onclick="report(this)"> Report Mistake </button>

        </div> 
         
  <br>

  <button class="btn btn-outline-danger btn-sm" name="{{vocab}}"  value="1" onclick="setVocab(this)"> Challenge </button>
  <button class="btn btn-outline-warning btn-sm" name="{{vocab}}"  value="2" onclick="setVocab(this)"> Unsure </button>
  <button class="btn btn-outline-success btn-sm" name="{{vocab}}"  value="3" onclick="setVocab(this)"> No Problem </button>
  
  <br>
  

</div> 
{% endfor%}
          
                  
        


{% endblock content %}

{% block script %}



{% endblock %}



